@using CyberWars.Web.ViewModels.WebViews.CompetitiveCoding

@model IEnumerable<ContestViewModel>

@foreach (var contest in Model)
{
    <form class="containerCompetitiveCoding" method="post" asp-controller="CompetitiveCoding" asp-action="Result">
        <img class="competitiveImg" src="/images/Web/CompetitiveCodingIcons/@(contest.ContestImageName + ".png")" alt="">
        <h3 class="competitiveName">@contest.ContestName</h3>
        <h3>Chanse to Win:  @contest.ContestPercentage %</h3>
        <ul>
            <li><img src="/images/Web/CompetitiveCoinIcon.png" alt=""> <span class="points">@contest.ContestRewardMoney +  </span>  <img src="/images/Web/CompetitiveStarIcon.png" alt=""> <span class="points"> @contest.ContestRewardExp </span> </li>
        </ul>
        <div>
            <button class="btn yellow rounded" type="submit" name="contestId" value="@contest.ContestId">Participate ( @contest.ContestConsumeEnergy <img class="competitiveEnergy" src="/images/Web/CompetitiveLightIcon.png" alt=""> )</button>
        </div>
    </form>
}

@section CssFile {
    <link rel="stylesheet" href="/css/Web/competitiveCoding.css">
}

@section PageHeader{
    Coding
}
