@using CyberWars.Web.ViewModels.WebViews.CompetitiveCoding
@model ResultContestViewModel
<div class="blog-card">
    <img src="/images/Web/CompetitiveCodingIcons/@(Model.ContestImageName + ".png")" alt="">
    <div class="description">
        <h4 class="ResultcompetitveHeader">@Model.ContestName (@Model.DateCompleteContext)</h4>
        <h2 class="ResultCompetitiveSecondHeader">@Model.ContestDescription</h2>
        @if (Model.IsWin)
        {
            <p class="earn"> Reward  </p>

            <p>@Model.PlayerName earn @Model.ContestRewardMoney money and @Model.ContestRewardExp experience.</p>
            <div class="read-more">
                <a class="btn yellow rounded" href="/CompetitiveCoding/Result?contestId= @Model.ContestId">Again ( @Model.ContestConsumeEnergy <img class="competitiveEnergy" src="/images/Web/CompetitiveLightIcon.png" alt=""> )</a>
            </div>

        }
        else
        {
            <p class="earn"> You lose .Never Give Up</p>

            <p>Try Again Next Time Maybe You Will</p>
            <div class="read-more">
                <a class="btn yellow rounded" href="/CompetitiveCoding/Result?contestId= @Model.ContestId">Again ( @Model.ContestConsumeEnergy <img class="competitiveEnergy" src="/images/Web/CompetitiveLightIcon.png" alt=""> )</a>
            </div>
        }
    </div>
</div>

@section CssFile {
    <link rel="stylesheet" href="/css/Web/ResultCompetitveCoding.css">
}

@section PageHeader{
    Coding
}
