@using System.Security.Claims;
@using CyberWars.Web.ViewModels.HomeViews
@using CyberWars.Data.Common.Repositories;
@using CyberWars.Data.Models.Ability;
@using CyberWars.Services.Mapping;
@using CyberWars.Services.Data.Home;

@model IEnumerable<BadgesViewModel>

@inject IDeletableEntityRepository<PlayerAbility> playerAbilityRepository
@inject IHomeService homeService

@{
    var userId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
    var playerAbilities = this.playerAbilityRepository.All().Where(x => x.Player.UserId == userId).To<PlayerAbilitiesViewModel>().ToList();
}

@foreach (var badge in Model)
{
    var isCompleteBadge = true;
    foreach (var badgeRequirement in badge.BadgeRequirements)
    {
        var playerAbility = playerAbilities.FirstOrDefault(x => x.AbilityName == badgeRequirement.Requirement.Name);

        if (playerAbility.Points < badgeRequirement.Requirement.Points)
        {
            isCompleteBadge = false;
        }
    }

    //If all badge.badgeRequiremnt is complete should Achivied
    if (isCompleteBadge)
    {
        // Save in the Database the completed badge
        await this.homeService.CompleteBadge(badge.Id, userId);

        <div class="badgeTable achieved">
            <span class="jobTittle">Badge</span>
            <h3 class="frellancingHeader">@badge.Name</h3>
            <img src="/images/Player/Badges/@(badge.ImageName + ".png")" alt="petImg">
            <ul>
                <li>Description</li>
                <li>@badge.Description</li>
            </ul>
        </div>
    }
    else
    {
        <div class="badgeTable">
            <span class="jobTittle">Badge</span>
            <h3 class="frellancingHeader">@badge.Name</h3>
            <img src="/images/Player/Badges/@(badge.ImageName + ".png")" alt="petImg">
            <ul>
                <li>Description</li>
                <li>@badge.Description</li>
                <li>
                    <a class="btn yellow rounded btn-disable" asp-controller="Home" asp-action="BadgeRequirements" asp-route-badgeId="@badge.Id">Requirements</a>
                </li>
            </ul>
        </div>
    }
}

@section CssFile {
    <link rel="stylesheet" href="/css/Home/badge.css">
}

@section PageHeader{
    Badges
}
