@using CyberWars.Web.ViewModels.HomeViews.Pet
@using System.Security.Claims;


@model PetViewModel

@{


    var healthWidth = (decimal)Model.Health / (decimal)Model.MaxHealth * 100;

    var moodWidth = (decimal)Model.Mood / (decimal)Model.MaxMood * 100;
}
<div class="petTable">
    <h3 class="petHeader">@Model.NameIt</h3>
    <img src="/images/Market/Pets/@(Model.PetImageName + ".png")" alt="">
    <ul>
        <li class="petList">
            <span class="petPoints">Health @Model.Health / @Model.MaxHealth</span>
            <div class="meterPet">
                <span class="linePet" style="width: @(healthWidth + "%")"></span>
            </div>
        </li>
        <li class="petList">
            <span class="petPoints">Mood @Model.Mood / @Model.MaxMood </span>
            <div class="meterPet blue">
                <span class="linePet" style="width: @(moodWidth + "%")"></span>
            </div>
        </li>
    </ul>
    <div class="buttons">
        <form method="post" class="petForm" asp-controller="Home" asp-action="ChangeName">
            <a href="javascript:void(0);" class="fa-search btn yellow rounded" aria-hidden="true">ChangeName</a>
            <div class="togglesearch">
                <input type="text" placeholder="" name="newName" />
                <button class="btn-small small yellow rounded" type="submit" name="petId" value="@Model.PetId">Change Name</button>
            </div>
        </form>
        @*<form method="post" class="petForm" asp-controller="Home" asp-action="ScratchPetBelly">
                <a class="btn yellow rounded" href="#popup1"  name="petId" value="@Model.PetId">Scratch Belly</a>
                <div id="popup1" class="overlay">
                    <div class="popup">
                        <h2>Successfully scratch your pet belly</h2>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            +40 to my Mood
                        </div>
                    </div>
                </div>
            </form>*@
        <form method="post" class="petForm" asp-controller="Home" asp-action="ScratchPetBelly">
            <div id="popUpOverlay"></div>
            <div id="popUpBox">
                <div id="box">
                    <i class="fas fa-check-circle fa-5x"></i>
                    <h1>+40 to your pet mood</h1>
                </div>
            </div>
            <button onclick="Alert.render()" class="btn yellow rounded" name="petId" value="@Model.PetId">ScratchBelly</button>
        </form>
        <form method="post" class="petForm" asp-controller="Home" asp-action="SellPet">
            <button class="btn yellow rounded " name="petId" value="@Model.PetId">Sell Pet</button>
        </form>
    </div>
    <h2>Food</h2>
    @*Here need to make it with viewComponent and get ALL FOOD that player buy it *@
    <div class="petFoodTable">

        <vc:pet-card-food user-id="@(this.User.FindFirstValue(ClaimTypes.NameIdentifier))"></vc:pet-card-food>

    </div>
</div>
@section CssFile {
    <link rel="stylesheet" href="/css/Home/petCard.css">
}
@section MyScript{
    <script src="/js/ChangeName.js" asp-append-version="true"></script>
    <script src="/js/ScratchBelly.js" asp-append-version="true"></script>
}
@section PageHeader{
    Pet Name
}
