@using CyberWars.Web.ViewModels.HomeViews.Pet

@model IEnumerable<PetViewModel>

<h2 class="headerPet">
    Here you will find al of your pets and if they are hungry you can feed
    them.
</h2>

<table class="tablePet">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Favourite Food</th>
            <th scope="col">Feed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pet in Model)
        {
            <tr>
                <th scope="row">@pet.NameIt (@pet.PetName) <br> <img src="/images/Market/Pets/@(pet.PetImageName + ".png")" alt="" /></th>
                <td>@pet.PetDescription</td>
                <td>
                    <ul>
                        @foreach (var food in pet.Foods)
                        {
                            <li><img src="/images/PetFood/@(food.FoodImageName +".png")" alt="" /> @food.FoodName</li>
                        }
                    </ul>
                </td>
                <td>
                    <a class="btn yellow rounded" asp-controller="Home" asp-action="PetCard" asp-route-petId="@pet.PetId">Feed</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section CssFile {
    <link rel="stylesheet" href="/css/Home/pet.css">
}

@section PageHeader{
    My Pets
}
