@using CyberWars.Web.ViewModels.HomeViews

@model IEnumerable<PlayerSkillViewModel>

<div class="description">
    <h3>
        Training is the most important thing . Thanks to training you can
        improve your performance.
    </h3>
</div>

@foreach (var skill in Model)
{
    <form class="container2" method="post" asp-controller="Home" asp-action="TrainSkill" asp-route-skillName="@skill.SkillName">
        <div class="item4">
            <img class="healthIcon" src="/images/@(skill.SkillId).Skill.png" alt="" />
            <span class="name">@skill.SkillName</span>
            <div class="bar">@skill.SkillDescription</div>
            <span class="circle">@skill.Points</span>
            <button class="button" type="submit">Train - </button>
            <span class="money">@skill.Money</span>
            <img class="MoneyIcon" src="/images/MoneyIcon.png" alt="" />
        </div>
    </form>
}

@section CssFile {
    <link rel="stylesheet" href="/css/Home/skills.css">
}

@section PageHeader{
    Skills
}
