@using CyberWars.Web.ViewModels.Academy
@using CyberWars.Data.Common.Repositories;
@using CyberWars.Data.Models.Course;
@using Microsoft.EntityFrameworkCore;

@model IEnumerable<LectureViewModel>
@inject IDeletableEntityRepository<CompleteLecture> completeLectureRepository;
@{
    int counter = 1;
    var courseName = Model.FirstOrDefault();
}


<h1 class="courseHader">@courseName.CourseName</h1>
<table class="courseTable">
    <thead>
        <tr>
            <th>Number</th>
            <th>Lecture Name</th>
            <th>Reward</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lecture in Model)
        {
            <tr>
                <th class="circleNumber">@(counter++)</th>
                <td>@lecture.Name</td>
                <td>
                    @lecture.RewardMoney <img class="competitiveEnergy" src="/images/MoneyIcon.png" alt="">
                    @(lecture.RewardAbilityName.Contains("Exam") ? "3" : lecture.RewardAbilityName.Contains("End") ? "10" : "1") <img class="competitiveEnergy" src="/images/Star.png" alt="">
                </td>
                <td>
                    <div>
                        @if (this.completeLectureRepository.All().Any(x => x.LectureId == lecture.Id))
                        {
                            <a id="btn-disable" class="btn yellow rounded " href="#">Completed</a>

                        }
                        else if (lecture.PlayerExperience >= lecture.ExperienceToComplete)
                        {
                            <form method="post" asp-controller="Academy" asp-action="CompleteLecture">
                                <button type="submit" class="btn yellow rounded" role="button" name="lectureId" value="@lecture.Id">Complete</button>
                            </form>
                        }
                        else
                        {
                            <a id="btn-disable" class="btn yellow rounded " href="#">Need Exp: @lecture.ExperienceToComplete</a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section CssFile {
    <link rel="stylesheet" href="/css/Academy/academyCourse.css">
}
@section PageHeader{
    Lectures
}
